
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif ;

}
body{
    height: 100vh;
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calculator{
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background-color: black ;

}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 5px;
    font-size: 40px;
    text-align: right;
    cursor: pointer;

}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    

}
.bapun{
    background-color: green;
}